<body>
    <div class="content">
        <h1 style="font-size:40px; color:purple"><%= "#{@coach.first_name} #{@coach.last_name}" %></h1>

            <p><b style="font-size:20px">Position:</b> <%= @coach.position %></p>
            <p><b style="font-size:20px">Bio:</b> <%= @coach.bio %></p>

        <h4><%= link_to "Current coach's team", team_path(@coach.team_id),  {:style=>'color:#BD2A2A;', :class => "css_class"}  %></h4>
    </div>
</body>