<body>
    <div class="content">
        <h1 style="font-size:40px; color:purple">Match Stats</h1>
        <h2 style="color:red"><%= "#{@match.home_team.name} vs. #{@match.away_team.name}"%></h2>
    </div>
</body>