/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --red-primary: #c0424e
    --blue-primary: #341671
}

.red-primary {
    background-color: var(--red-primary)
}

/* Navbar */

nav {
    padding: 0 5vw;
}

.navbar-item:hover {
    color: #c0424e !important;
}
.navbar-link:hover {
    color: #c0424e !important;
}

/* Stat Content */
.content {
    margin: auto;
    text-align: center;
    border: 50px groove red;
    background-image: url('https://www.nicepng.com/png/detail/40-402412_10-oct-2018-cotton-polyester-comfort-nfl-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 100px;
}